body{
    box-sizing: border-box;
}
header{
display: flex;
flex-direction: column;
align-items: center;

}

.image{
    border-radius: 25px;
    background: url(/image/image1.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 350px;
    height: 374px;

  }
.theheader{
    text-align: center;
    justify-items: center;
    font-family: 'Times New Roman', Times, serif;
}
.theheader h1{
    color: blue;
    font-size: 2.5rem;
    font-weight: 600;
}
.profile{
    padding: 20px auto;
    margin: 20px auto;
}
.subTitle{
    text-align: center;
    font-size: 1.5rem;
    color: royalblue;
}
.profile p{
    font-size: 1.2rem;
    padding: 5px auto;
    
}
.areaOfStrength{
    margin: 20px auto;
}
.areaOfStrength .areaofstrength{
    font-size: 1.5rem;
    color: royalblue;
    text-align: center;
}
.TheTable{
    padding: 10px 20px;  
}
table{
    width: 100%;
}
table td{
    height: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
    padding: auto; 
}
.summary{
    font-size: 1.5rem;
    color: royalblue;
    text-align: center;
}
.experience{
    font-size: 1.2rem;
    padding: 10px auto;
    margin: 10px auto;
}
.experience .date{
    float: right;
       
}
.descriptions ul{
    font-size: 1.2rem;
}
.descriptions .date{
    float: right;
}
.descriptions .school_hnd{
    margin-bottom: 20px;
}
.train{
    font-size: 1.2rem;
}
.train .date{
    float: right;
}
.proTrain{
    font-size: 1.2rem;
}
.proTrain .date{
    float: right;
}
